Repository diegolameira/miqds: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,md,mdx,html,yml,yaml}": ["prettier --write"],
  "**/*.{ts,tsx,css,scss}": ["prettier --write", "eslint --fix"]
}

feat: Update SVG icons to match design (#5)
  src/icons/calendar.svg
  src/icons/exclamation-octagon.svg
  src/icons/sliders-horizontal.svg
Due: none

refactor: Updated import paths to use aliases and fixed original font… (#6)
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .storybook/preview-head.html
  .yarn/install-state.gz
  components.json
  index.ts
  package.json
  postcss.config.js
  src/components/theme.tsx
  src/docs/colors.mdx
  src/docs/radius.mdx
  src/docs/shadows.mdx
  src/docs/spacing.mdx
  src/docs/typography.mdx
  src/i18n/index.ts
  src/i18n/locales/en-us.ts
  src/i18n/locales/index.ts
  src/i18n/translator.ts
  src/index.css
  src/index.ts
  src/lib/mileiq.ts
  src/lib/storage.ts
  src/lib/utils.ts
  src/tokens/breakpoints.ts
  src/tokens/typography.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(components): Add logo, tabs, and badge components; update paths … (#7)
  src/components/badge/badge.tsx
  src/components/badge/index.ts
  src/components/checkbox/checkbox.stories.tsx
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.ts
  src/components/currency-unity-selector.tsx
  src/components/dropdown-menu/dropdown-menu.tsx
  src/components/flag-selector.tsx
  src/components/index.ts
  src/components/inputs/creditCard.tsx
  src/components/inputs/input.tsx
  src/components/logo/index.tsx
  src/components/logo/logo-mileiq-black.svg
  src/components/logo/logo-mileiq-color.svg
  src/components/logo/logo-mileiq-white.svg
  src/components/logo/logo-teams-color.svg
  src/components/logo/logo-teams-white.svg
  src/components/logo/logo.svg
  src/components/logo/symbol-color.svg
  src/components/logo/symbol.svg
  src/components/logo/wordmark-mileiq-black.svg
  src/components/tabs/index.ts
  src/components/tabs/tabs.stories.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write, eslint --fix

refactor: Update import paths for components and icons, use utility f… (#8)
  src/components/buttons/button.module.css
  src/components/buttons/button.tsx
  src/components/buttons/filter.tsx
  src/components/buttons/nav.tsx
  src/components/buttons/stories/button.filter.stories.tsx
  src/components/buttons/stories/button.full.stories.tsx
  src/components/buttons/stories/button.iconOnly.stories.tsx
  src/components/buttons/stories/button.nav.stories.tsx
  src/components/buttons/stories/button.states.destructive.stories.tsx
  src/components/buttons/stories/button.states.primary.stories.tsx
  src/components/buttons/stories/button.states.secondary.stories.tsx
  src/components/buttons/stories/button.states.tertiary.stories.tsx
  src/components/buttons/stories/button.stories.tsx
Due: prettier --write, eslint --fix

refactor: update dashboard layout grid structure for better responsiv… (#9)
  src/features/navigation/layout.css
  src/features/navigation/layout.tsx
Due: prettier --write, eslint --fix

feat(login): add LoginScreen component and LoginStepEmail and LoginSt… (#10)
  src/features/auth/login-screen.stories.tsx
  src/features/auth/login-screen.tsx
Due: prettier --write, eslint --fix

feat(drives): Add drives table and screen header components (#11)
  src/features/drives/DriveScreenHeader.tsx
  src/features/drives/DrivesTable.tsx
  src/features/drives/drives-screen.stories.tsx
  src/features/drives/drives-screen.tsx
Due: prettier --write, eslint --fix

refactor: Update import path for breakpoints from tokens directory to… (#12)
  src/lib/mileiq.ts
Due: prettier --write, eslint --fix

Updates for package (#13)
  package.json
Due: prettier --write

build: update npm registry URL to GitHub Packages. (#14)
  package.json
Due: prettier --write

feat: Add GitHub Packages publishing workflow and update existing Sto… (#15)
  .github/workflows/publish-package.yml
  .github/workflows/publish-storybook.yml
Due: prettier --write

Publish GitHub packages automation (#16)
  .github/workflows/publish-package.yml
Due: prettier --write

Update publish-package.yml
  .github/workflows/publish-package.yml
Due: prettier --write

update scope
  .github/workflows/publish-package.yml
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

update export css
  package.json
Due: prettier --write

change pkg
  package.json
Due: prettier --write

pkg v1.0.1
  package.json
Due: prettier --write

change on import structure
  package.json
Due: prettier --write

Update package.json with new version and file paths
  package.json
Due: prettier --write

Update GitHub Actions workflows
  .github/workflows/publish-package.yml
  .github/workflows/publish-storybook.yml
Due: prettier --write

Commented out push event in publish-storybook.yml
  .github/workflows/publish-storybook.yml
Due: prettier --write
